@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
font-family: 'Montserrat';

}

body{
    background-color: #faebd7;
}

#darkModeToggle{
    padding: 5px;
    margin: 5px;
    position: relative;
    border: none;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    border: 3px solid #a3a1a1;
    color: #6e6e6e;
}

#introTitle{
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-style: bold;
    padding: 20px;
    margin: 20px;
    box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: white;
    cursor: pointer;
}

.wrapImg{
    text-align: center;
}

#profileImg{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

#profileImg.hover{
    width: 250px;
    height: 250px;
    box-shadow: 0 0 0;
    border-radius: 0;
}

#introContent{
    margin: 50px;
    color: #000000;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
}

#introContent.hover{
    background: rgba(0, 0, 0, 0.311);
    color: white;
}

.wrapHobby{
    text-align: center;
}
.hobbyContent{
    height: 100px;
    width:100px;
    border-radius: 100%;
}

h3{
    text-align: center;
}
